* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;

    --spacing: 20px;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: var(--spacing);
    margin: 0 calc(var(--spacing) * 2);
    height: 100%;

    font: -apple-system-short-body;
    text-align: center;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

.server-info {
    font-size: 12px;
    color: #666;
}

.menu-hint {
    font-size: 11px;
    color: #999;
    margin-top: -10px;
}

@media (prefers-color-scheme: dark) {
    .server-info {
        color: #999;
    }
    .menu-hint {
        color: #777;
    }
}
